body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.dashboard {
    background-color: #000018;
    color: white;
}

.date_time{
    height: 5vh;
}
.appdisplay{
    height: 48vh;
    padding: 0;

}
.wrapper-div{ 
    margin: 5px 5px;
    background-color: #08072E;
    border: none !important;
    text-align: center;
    padding: 10px;
}

.bulbimage{
    width: 100px;
    height: 180px;
}


#logs{
    background-color: transparent;
    color: rgb(194, 243, 243);
    font-size: 14px;
    padding: 10px;
    border: none;
}

table{
    background-color: transparent;
    width: 100%;
    margin-top: 30px;
}
td{
    border: 1px solid gray;
    height: 30px;
}

.imageDivSec{
    height: 200px;
}
#doorimage{
    height: 100%;
    padding: 0;
    margin: 0;
}
.doorSlider {
   padding: 0;
   margin-top: -20px;
}
.btnDoor {
    width: 50%;
    font-size: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: lime;
    font-weight: bold;
}












/* Media Query */

@media screen and (max-width:1024px){
    .bulbimage{
        width: 100px;
        height: 150px;
    }
}

@media screen and (max-width:768px){
    .bulbimage{
        width: 100px;
        height: 130px;
    }
}




@media  screen and (max-width:500px){
    .row1{
        margin-top: 40px;
    }
   
}