body {
    height: 100vh;
    background-color: rgb(12, 168, 121);
    color: white;
}



.date_time{
    height: 5vh;
}
.appdisplay{
    height: 45vh;
    padding: 0;

}

.wrapper-div{ 
    margin: 5px 5px;
    background-color: rgb(15, 69, 73);
    border: none !important;
    text-align: center;
    padding: 10px;
}

.bulbimage{
    width: 100px;
    height: 180px;
}


#logs{
    background-color: transparent;
    color: rgb(194, 243, 243);
    font-size: 14px;
    padding: 10px;
    border: none;
}

table{
    background-color: transparent;
    width: 100%;
    margin-top: 30px;
}
td{
    border: 1px solid gray;
    height: 30px;
}




/* Media Query */

@media screen and (max-width:1024px){
    .bulbimage{
        width: 100px;
        height: 150px;
    }
}

@media screen and (max-width:768px){
    .bulbimage{
        width: 100px;
        height: 130px;
    }
}




@media  screen and (max-width:500px){
    .row1{
        margin-top: 40px;
    }
   
}