* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 45px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 100px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 20px;
    font-weight: 500;
}

.weather h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: -10px;
}

.humidity {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
}

.wind {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 0;
}

.humidity-div img, .wind-speed-div img{
    width: 65px;
    margin-top: 60px;
}

.weather, .humidity-div, .wind-speed-div{
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

@media only screen and (max-width: 1100px) {
    .search input {
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        flex: 1;
        margin-right: 16px;
        font-size: 12px;
    }
    
    .search button {
        border: 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    .search button img {
        width: 12px;
    }
    
    .weather-icon {
        width: 70px;
        margin-top: 20px;
    }
    
    .weather h1 {
        font-size: 15px;
        font-weight: 500;
    }
    
    .weather h2 {
        font-size: 15px;
        font-weight: 400;
        margin-top: -10px;
    }
    
    .humidity {
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 0;
    }
    
    .wind {
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 0;
    }

    .humidity-div p, .wind-speed-div p {
        font-size: 13px;
    }
    
    .humidity-div img{
        width: 40px;
        margin-top: 47px;
    }

    .wind-speed-div img{
        width: 40px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 770px) {
    .search input {
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 25px;
        width: 25px;
        border-radius: 30px;
        flex: 1;
        margin-right: 16px;
        font-size: 10px;
    }
    
    .search button {
        border: 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
    
    .search button img {
        width: 10px;
    }
    
    .weather-icon {
        width: 55px;
        margin-top: 35px;
    }
    
    .weather h1 {
        font-size: 12px;
        font-weight: 500;
    }
    
    .weather h2 {
        font-size: 12px;
        font-weight: 400;
        margin-top: -10px;
    }
    
    .humidity {
        margin-top: 2px;
        margin-bottom: 0;
    }
    
    .wind {
        margin-top: 2px;
        margin-bottom: 0;
    }

    .humidity-div p, .wind-speed-div p {
        font-size: 9px;
    }
    
    .humidity-div img{
        width: 35px;
        margin-top: 50px;
    }

    .wind-speed-div img{
        width: 35px;
        margin-top: 45px;
    }
}

@media only screen and (max-width: 430px) {
    .search input {
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 30px;
        width: 30px;
        border-radius: 30px;
        flex: 1;
        margin-right: 16px;
        font-size: 12px;
    }
    
    .search button {
        border: 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
    .search button img {
        width: 12px;
    }
    
    .weather-icon {
        width: 75px;
        margin-top: 25px;
    }
    
    .weather h1 {
        font-size: 15px;
        font-weight: 500;
    }
    
    .weather h2 {
        font-size: 15px;
        font-weight: 400;
        margin-top: -10px;
    }
    
    .humidity {
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 0;
    }
    
    .wind {
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 0;
    }

    .humidity-div p, .wind-speed-div p {
        font-size: 13px;
    }
    
    .humidity-div img, .wind-speed-div img{
        width: 45px;
        margin-top: 47px;
    }

    .wind-speed-div img{
        width: 45px;
        margin-top: 40px;
    }
}